<div class="container">

<h1><%= @article.title %></h1>

<p class= "border border-secondary p-4"><%= @article.content %></p>

<%= link_to 'Edit article', edit_article_path, class: "btn btn-primary p-2 m-2" %>
<br>
<%= link_to 'Delete article',
    article_path(@article),
    method: :delete,
    data: {confirm: "Are you sure to delete '#{@article.title}'?"},
    class: "btn btn-primary p-2 m-2" %>
<hr>

<%= link_to 'All articles', articles_path,
class: "btn btn-primary p-2 m-2" %>
</div>
